.faq{
    width: 100%;
    background-color:  #ECF3FB;
    padding-top: 120px;
    padding-bottom: 120px;
}
.header__faq{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}
.main__faq{
    flex-wrap: wrap;
}
.content__faq{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
    margin-top: 16px;
    align-items: center;
}
.content__faq p{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #171717;
    margin-left: 40px;
}
.content__faq img{
    margin-right: 40px;
}
.btn__faq span{
    
    color: #FFFFFF;;
}
.btn__support{
    
    align-items: center;
    text-align: center;
}
.btn__indent{
    padding-top: 40px;
}
.btn__support{
    background: #333333;
    border-radius: 16px;
    padding: 16px 86px 16px 86px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn__faq__one{
    text-align: center;
}
.btn__faq__one:hover{
    opacity: 0.9;
    color: brown;
}

/* window=the very bottom */
.faq__footer{
    padding-top: 120px;
}
.faq__window{
    width: 100%;
    height: 159px;
    background: #1749B3;
    box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2), 0px 4px 24px rgba(213, 216, 221, 0.2), 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
}
.faq__request__content{
    margin-top: 40px;
}
.faq__request__content h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.faq__request__content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 21px;
}
.btn__faq__two{
    margin-top: 53px;
}
.btn__request{
    color: #171717;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 16px 113px 16px 113px;
    cursor: pointer;
}
.btn__request:hover{
    opacity: 0.9;
    color: #1749B3;
}
@media screen and (max-width: 1200px){
.faq__request__content h4 {
    font-weight: 700;
    font-size: 17px;
    }
}
@media screen and (max-width: 960px ){
    .header__faq {
        font-size: 25px;
        padding-bottom: 32px;
    }
    .content__faq {
        width: 100%;
        height: 92px;
        border-radius: 24px;
    }
    .content__faq p {
        width: 67%;
        font-size: 17px;
        line-height: 25px;
        margin-left: 20px;
    }
    .content__faq img {
        margin-right: 20px;
    }
    .faq__footer {
        padding-top: 100px;
    }
    .faq__window {
        width: 100%;
        height: 186px;
        border-radius: 24px;
    }
    .faq__request__content {
        margin-top: 32px;
        margin-left: 32px;
    }
    .faq__request__content h4 {
        width: 93%;
        font-size: 19px;
        line-height: 26px;
    }
    .faq__request__content p {
        width: 83%;
        font-size: 17px;
        line-height: 25px;
        padding-top: 16px;
    }
    .btn__faq__two {
        padding: 69px 32px 69px;
        margin: 0;
    }
    .btn__request {
        border-radius: 12px;
        padding: 13px 84px 13px 84px;    
    }
}